{% extends 'products/base.html' %}
{% block content %}
<div class="auth-card shadow-sm">
    <h1 style="color: var(--bicol-brown); font-weight: 300;">Log In</h1>
    <p class="small text-muted mb-4">Hi there! Sign in to access your bicolikha account for a better shopping experience.</p>
    
    <form method="post">
    {% csrf_token %}
    <label class="small fw-bold text-muted">Email or Phone Number</label>
    <input type="text" name="username" class="bicol-input" required>
    
    <label class="small fw-bold text-muted">Password</label>
    <input type="password" name="password" class="bicol-input" required>

    <button type="submit" class="btn-bicol mt-3">Log In</button>

        <div class="text-end mt-2">
            <a href="#" class="small text-muted text-decoration-none">Forgot password?</a>
        </div>
    </form>
</div>
{% endblock %}