{% extends 'admin/management_base.html' %}
{% block management_content %}
    <h3 class="fw-bold">General Accounts</h3>
    <table class="table align-middle mt-4">
        <thead class="table-light"><tr><th>Username</th><th>Email</th><th>Actions</th></tr></thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>
                    <button class="btn btn-sm btn-success me-2">Promote to Artist</button>
                    <button class="btn btn-sm btn-danger">Delete Account</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}