{% extends 'products/base.html' %}
{% load static %}

{% block content %}
<style>
    .about-container {
        margin: 0px auto 0px;
        background: #fff;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 600px;
    }

    .about-img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
</style>

<div class="container-fluid">
    <div class="about-container shadow-sm">
        <!-- The Graphic -->
        <img src="{% static 'images/about.png' %}" alt="Bicolikha Logo Breakdown" class="about-img">
    </div>
</div>

{% endblock %}
